/* CBS STANDARD STYLES */
TABLE {font-family: helvetica, verdana, arial, tahoma, sans-serif;font-size : 12px;}
TD {font-family: helvetica, verdana, arial, tahoma, sans-serif;font-size : 12px;}
H1 {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif;font-weight: bold;font-size: 20px;}
H2 {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif;font-weight: bold;font-size: 16px;}
H3 {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif;font-weight: bold;font-size: 14px;}
P {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif, sans-serif; font-size: 12px; text-align: justify;}
ul {font-family: helvetica, verdana, arial, tahoma, sans-serif;font-size : 12px;}
li {font-family: helvetica, verdana, arial, tahoma, sans-serif;font-size : 12px; text-align: justify;}
input {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif, sans-serif; font-size: 12px;}
.bulk {color: #000000; font-family: helvetica, verdana, arial, tahoma, sans-serif;font-size: 12px; text-align: justify; font-weight: normal;}
.nav {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif, sans-serif;font-size: 10px; font-weight: normal;}
.search {color: #000000;font-family: helvetica, verdana, arial, tahoma, sans-serif, sans-serif;font-size: 10px;font-weight: normal;}
a:link{color: #FF3399}
a:active{color: #FF3399}
a:visited{color: #FF3399}
a:hover {color: #000000}
a.black:link{color: #000000}
a.black:active{color: #000000}
a.black:visited{color: #000000}
a.black:hover {color: #FF3399}

/* INDEX */
.h3{
   font-weight : bold;
   font-size   : 14px;
}

.showbutt {
   font-size   : 10px;
   background  : transparent;
   border      : 0;
   color       : #00F;
   display     : inline;
   margin      : 0;
   padding     : 0;
}

.hide{
   display     : none;
}

.warn{
   font-weight : bold;
   color       : red;
}

TABLE.menu{
   background-color: #FF3399;
   width: 100%;
   border: none 0;
   padding: 0;
   /*bgcolor="#FF3399"
   width="100%"
   border="0"
   cellpadding="0"
   cellspacing="0"*/
}

TABLE.menu TD{
   background  : inherit;
   text-align  : center;
   /*bgcolor="#FF3399" width="33%" align="center"*/
}

TABLE.menu TD A{
   color: #FFFFFF;
   font-weight: bold;
   target: _blank;
}

/* Tree Viewer */

.path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.warn {
   color: red;
   font-weight: bold; 
}

.node {
  fill: #00B;
  z-index: 999;
}

.name {
  color: #000;
}

.selected {
   /*font-weight: bold;*/
   stroke: #F00;
   stroke-width: 0.3;
}

.bootstrap {
  font-size: 8pt;
}

.compareImg{
  width: 170px;
  height: 150px;
}

#menu{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
  z-index: 9999;
}

img.preview{
   position:absolute;
   top: 0px;
   left: 0px;
}

ul.menu li p{
  background:#777;
  padding:1px;
  margin:0px;
  color:#fff;
}
ul.menu li p:link   { color: #FFF; }
ul.menu li p:active { color: #F0F; }
ul.menu li p:hover  { color: #FF0; }
ul.menu li p:target { color: #0FF; }

@media print {
/* PRINTING CSS SETTINGS
 * Removing everything but preview images and the SVG
 * Rearranging the body and images, to provide the best prints possible
 */
   @page { 
      size: auto;               /* auto is the initial value */ 
      margin: 5mm 5mm 5mm 5mm;  /* this affects the page margin in the printer settings */ 
   } 
   .noPrint {
      display:none;
   }
   body{
      position: absolute;
      top: 0px;
      left: -5px;
      margin: auto;
      vertical-align: middle;
   }
   #svg{
      position: relative;
      margin: auto;
      vertical-align: middle;
   }
   @-moz-document url-prefix() {
      /* firefox-only css goes here */
      body{
         top:   5px;
         left: -10px;
      }
   }
}
